doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=600, user-scalable=no")
    link(rel="stylesheet", href="main.css")
    link(rel="canonical", href="https://benceg.github.io/robot/")
  body
    
    .reporter
      ul#report
        
    p#dropzone Drop your instructions here.
    
    .wrapper.vertical
      .scaler
        #board
        
    .buttons
      .wrap
        span.icon-place(data-action="place", title="Place")
        span.icon-move(data-action="move", title="Move")
        span.icon-left(data-action="left", title="Left")
        span.icon-right(data-action="right", title="Right")
        span.icon-report(data-action="report", title="Report")
      
    script(src="main.js")
    script(src="http://localhost:3857/livereload.js")