doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=0.5")
    link(rel="stylesheet", href="main.css")
    link(rel="canonical", href="https://benceg.github.io/robot/")
  body
    // input#text
    .reporter
      ul#report
    p#dropzone Drop your instructions here.
    .wrapper.vertical
      #board
    script(src="main.js")
    script(src="http://localhost:3857/livereload.js")