[data-dragging]
  *
    cursor grabbing !important

body
  text-align center

#board
  margin-top 100px
  display inline-block
  overflow hidden
  position relative
  
  canvas
    display block
    margin 0 auto
    transform-origin 50% 50%
    background yellow
    cursor grab