.reporter
  position fixed
  width 100%
  top 0
  left 0
  z-index 4
  overflow-x hidden
  overflow-y auto
  background #efefef
  height 40px
  padding 0 20px
  box-sizing border-box
  
  > ul
    line-height 40px
    font-size 14px
    
    > li
      white-space nowrap