#robot
  width 40px
  height 40px
  border-radius 50%
  background black
  transition transform 1s
  position absolute
  bottom 0
  left 0
  margin calc(70px - 40px)
  
  &:before
    display block
    width 10px
    height 10px
    border-radius 50%
    background red
    content ""
    position absolute
    top 5px
    left 50%
    margin-left -5px